*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 80vh;
     background-image: url("https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
     background-position:center;
     background-size: cover;
     background-repeat: no-repeat;

}

#box{
    height: 75vh;
    overflow: hidden;
    
}
.weatherShow{
height: fit-content;
}
@media screen and (max-width: 600px) {
    body {
     background-size: contain;
    }
  }